{% extends "spoolkit_base.html" %} 

{% block datatable_init %}
{% for table in table_count %}
    $('#table{{ table }}').DataTable({
        "paging": false
    });
{% endfor %}
{% endblock %}

{% block body %}
<h3>{{ report.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font size="2">
        <a href=/admin/setup/edit/?url=%2Fadmin%2Fsetup%2F&id={{ report.id }}>[edit]</a>    
        </font>
</h3>

<br><br>
{{ md_text }}
{% endblock %}
