<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Spoolkit</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />

  <!-- datatables CSS -->
  <link rel="stylesheet" type="text/css" href="/static/datatables-1.10.16/css/dataTables.bootstrap.min.css" />

  <!-- copied from flask-admin base template-->
  <link href="/static/bootstrap/bootstrap3/swatch/default/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap/bootstrap3/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/static/admin/css/bootstrap3/admin.css" rel="stylesheet">

  <style>
    body {
      padding-top: 4px;
    }
  </style>
   <style>
    div.dataTables_wrapper {
      margin-bottom: 3em;
    }
  </style>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <!-- 
    Bootstrap req jquery 1.12.4
    Flask-admin:   jquery 2.1.4 / bootsrap 3.3.5 / & others in footer
  -->
  <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>

  <script src="/static/popper.min.js"></script>
  <script src="/static/tether.min.js"></script>

  <!-- Bootstrap JS  highest is 3.3.7 but ADMIN was build for 3.3.5 -->
  <script src="/static/bootstrap/bootstrap3/js/bootstrap.min.js" type="text/javascript"></script>

  <!-- datatables JS -->
  <script type="text/javascript" src="/static/datatables-1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/datatables-1.10.16/js/dataTables.bootstrap.min.js"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
-->

  <!-- Datatable init  -->
  <script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
      $('#table101').DataTable({
        "paging": false
      });
      $('#table102').DataTable({
        "paging": false
      });
      {% block datatable_init %}{% endblock %}
    });

  </script>

{% block end_of_header %}{% endblock %}

</head>

<body>

  <div class="container">

    <!-- Navbar -->
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills navbar-left">

          <!-- Home -->  
          <li role="presentation" class="active"><a href="/">Home</a></li>

          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>

          <!-- Load files -->
          <li role="presentation"><a href="/loadfiles">Load files</a></li>

          <!-- Setup -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setup<span class="caret"></a>
            <ul class="dropdown-menu">
              <li><a href="/admin/setup/">Build Reports</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin/filesetup/">Define SAP file format</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin/appsettings">General Settings</a></li>
            </ul>
          </li>

          <!-- Help -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://sap123.com/a/762/?spoolkit">Documentation</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="https://bitbucket.org/matimba/spoolkit/issues/new" target="_blank">Report an Issue</a></li>
              <li><a href="http://www.spoolkit.com/">Check for Updates</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/shutdown">Close Application</a></li>
            </ul>
          </li>
        </ul>
        
        <!-- Search -->
        <ul class="nav nav-pills navbar-right">
             <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        </button>
        <a class="navbar-brand" href="http://www.spoolkit.com/">Spoolkit</a>
      </div>
 
          <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Shortcode">
              <div class="input-group-btn">
                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </ul>

      </nav>
    </div>
    <!-- End of navbar -->

    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <!-- flash messages -->
	    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{ message }}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}


    {% block body %} {% endblock %}

    <br/><hr>
    <p class="text-center">Spoolkit version {{ config.VERSION }} - {{ now }}</p>
    <br><br><br>
  </div>
  <!-- /container -->

</body>
</html>