{% extends "spoolkit_base.html" %} {% block end_of_header %} {% endblock %} {% block body %}

<h3>SAP files to process</h3>

<form action="/file_process" method="post">
    {% if not allfiles %}
    
    Folder where the SAP text files that you downloaded via SAP GUI are stored<br><br>
    <a href="/newdir">Select folder to use</a>
    <br><br><br>

    {% else %}
    Select the file you want to load in database and press
    <kbd>Load file</kbd> or else click on file to view sample of file.<br><br>    
    <button type="submit" name="1" id="myButton" data-loading-text="Loading..." 
    class="btn btn-primary btn-lg" autocomplete="off">Load file</button>
    {% endif %}
    
    <br>
    <br> {% for d in allfiles %}    
    <p>Folder: &nbsp;&nbsp;&nbsp;&nbsp;
        <samp>{{ d.directory }}</samp>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <small><a href="/cd?id={{ d.id }}">[change]</a></small>
    </p><br>

    <table class="table table-condensed table-bordered">
        <tr>
            <th class="text-center">Load</th>
            <th>File name</th>
            <th class="text-center">File date</th>
            <th class="text-center">File size - MB</th>
            <th class="text-center">Key field in file</th>
            <th class="text-center">Column field in file</th>
            <th class="text-center">DB Table</th>
        </tr>
        {% for f in d.files %}
        <tr>
            <td class="text-center">
                {% if f.table_name is defined %}
                <input type="radio" name="fullfilename" value="{{ f.fullfilename }}">{% endif %}
            </td>
            <td>
                <a href="/display_file?filename={{ f.fullfilename }}&keyword={{ f.keyword }}&header_field={{ f.header_field }}&table_name={{ f.table_name }}">{{ f.filename }}</a>
            </td>
            <td class="text-center">{{ f.filedate }}</td>
            <td class="text-center">{{ f.filesize }}</td>
            <td class="text-center">{{ f.keyword }}</td>
            <td class="text-center">{{ f.header_field }}</td>
            <td class="text-center">{{ f.table_name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

</form>

<script type="text/javascript">
    $('#myButton').on('click', function () {
        var $btn = $(this).button('loading')
    })
</script> 

{% endblock %}

