{% extends "spoolkit_base.html" %}

{% block body %}
<h3>Reports</h3>

<samp>
  {% for report in reports %}
<h4>{{ report.id }}. <a href=/r/{{ report.id }}>{{ report.name }}</a></h4>
  {% else %}
      <em>No entries here so far. Create via Setup, Build Reports </em><br>
  {% endfor %}
</samp>

{% endblock %}




